#app{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f8f8f8;
 }
 
 .login-box {
	background: white;
	border: 2px solid #0033A0;
	border-radius: 8px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 .login-header .logo-image {
	width: 80px;
	height: 80px;
 }
 
 .login-header h2 {
	margin: 10px 0;
	font-size: 15px;
	color: #0033A0;
 }
 
 form {
	display: flex;
	flex-direction: column;
 }
 
 input[type="text"],
 input[type="password"] {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
 }
 
 .button-group {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
 }
 
 button[type="submit"],
 button {
	background-color: #4653c9;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	width: 48%;  /* 버튼이 동일한 크기를 가지도록 설정 */
 }
 
 button[type="submit"]:hover,
 button:hover {
	background-color:#4653c9;
 }
 
 /* 기본 스타일 */
body {
	font-family: Arial, sans-serif;
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
	display: flex;
	height: 100vh;
 }
 
 .app-container {
	display: flex;
	width: 100%;
	height: 100%;
 }
 
 /* 사이드바 스타일 */
 .sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(90deg, #6084D7 0%, #C294EB 100%);
	padding: 20px 0;
	width: 100px; /* 사이드바 넓이 설정 */
	height: 100vh;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
 }
 
 .sidebar-logo {
	width: 80px;
	margin-bottom: 20px;
 }
 
 .sidebar-button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	color: white;
	padding: 10px;
	margin: 10px 0;
	cursor: pointer;
	font-size: 16px;
	width: 100%;
	text-align: left;
	transition: background-color 0.3s ease;
 }
 
 .sidebar-button i {
	margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 추가 */
 }
 
 .sidebar-button:hover {
	background-color: #4653c9;
 }
 
 .sidebar-button-text {
	font-size: 16px;
 }
 
 /* 메인 콘텐츠 스타일 */
 .main-content {
	flex: 1;
	padding: 20px;
 }
 
 /* 채팅방 검색 스타일 */
 .chat-search-container {
	padding: 20px;
	background-color: white;
	margin: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
 }
 
 .chat-search-container h3 {
	color: #4853bd;
	text-align: center;
 }
 
 .chat-search-form {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
 }
 
 .chat-search-input {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
 }
 
 .chat-search-button {
	background-color: #adb3ec;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
 }
 
 .chat-search-button:hover {
	background-color: #4653c9;
 }
 
 .chat-room-list {
	list-style-type: none;
	padding: 0;
 }
 
 .chat-room-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
 }
 
 .join-room-button {
	background-color: #adb3ec;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease;
 }
 
 .join-room-button:hover {
	background-color: #4653c9;
 }

 /* 스타일 파일 수정 */

/* 기본 스타일 */
body {
	font-family: Arial, sans-serif;
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
	display: flex;
	height: 100vh;
  }
  
  .app-container {
	display: flex;
	width: 100%;
	height: 100%;
  }
  
  /* 채팅 앱 스타일 */
  .chat-app {
	display: flex;
	flex: 1;
	height: 100vh;
  }
  
  .chat-sidebar {
	width: 100px;
	background: linear-gradient(90deg, #8DA6EC 4.5%,  #7590D9 100%);
	color: white;
	padding: 10px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-main {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	padding: 20px;
  }
  
  .users h3,
  .messages h2 {
	margin: 0 0 10px 0;
  }
  
  .users ul {
	list-style-type: none;
	padding: 0;
  }
  
  .users li {
	margin: 5px 0;
  }
  
  .message_form {
	display: flex;
	flex-direction: row;
	margin-top: auto;
  }
  
  .message_form input {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
  }
  #adb3ec
  .message_form button {
	padding: 10px 20px;
	width: 90px;
	background-color:  #6a50ab ;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .message_form button:hover {
	background-color: #8f31e1;
  }
  
  /* 메시지 스타일 */
  .messages {
	flex: 1;
	overflow-y: auto;
	margin-bottom: 20px;
  }
  
  .message {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
  }
  
  .message.own {
	align-items: flex-end;
  }
  
  .message-content {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #f1f0f0;
	border-radius: 10px;
	max-width: 60%;
  }
  
  .message.own .message-content {
	background: linear-gradient(90deg, rgba(156, 175, 226, 0.7) 0%, rgba(181, 197, 242, 0.7) 55%, rgba(156, 175, 226, 0.7) 100%);
  }
  
  .message strong {
	margin-right: 10px;
  }
  
  .timestamp {
	font-size: 12px;
	color: #999;
	margin-top: 5px;
  }
  
 